<h1>Admin Dashboard</h1>

<h4>Stats</h4>
<ul class="list-group">
  <li class="list-group-item"><%= link_to 'Products',  [:admin, :products] %> <span class="badge"><%= @data["product_count"] %></span></li>
  <li class="list-group-item">Categories <span class="badge"><%= @data["category_count"] %></span></li>
</ul>




